<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Backbone Boilerplate</title>
        <meta name="description" content="A Backbone boilerplate application">

        <!-- So it behaves like an application not a website on iOS devices
             https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html -->
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!-- Removes gray tap highlight on Windows Phone 7
             http://stackoverflow.com/questions/6378008/windows-phone-7-browser-turn-off-the-gray-shading-when-links-are-clicked -->
        <meta name="misapplication-tap-highlight" content="no"/>
        <!-- Tag for search engines to crawl JS applications
             https://developers.google.com/webmasters/ajax-crawling/docs/specification -->
        <meta name="fragment" content="!">
        <!-- Prerender status code to server to crawlers
             https://prerender.io/getting-started#404s -->
        <meta name="prerender-status-code" content="200">
        
        <!-- build:template
            <link rel="stylesheet" href="/assets/styles.min.<%= buildnumber %>.css" />
        /build -->
        <!-- build:remove -->
            <link rel="stylesheet" href="/css/styles.css">
        <!-- /build -->

        <!-- Header scripts that need to be ran before the application code.
             Scripts added here need to be added to the uglify task -->
        <!-- build:remove -->
            <script src="/bower_components/modernizr/modernizr.js"></script>
        <!-- /build -->
        <!-- build:template
            <script src="/assets/header.min.<%= buildnumber %>.js"></script>
        /build -->
    </head>
    <body>
        <div class="main"></div>
        <!-- build:remove -->
            <script data-main="/js/config" src="/bower_components/requirejs/require.js"></script>
        <!-- /build -->
        <!-- build:template
        <script src="/assets/app.min.<%= buildnumber %>.js"></script>
        <script type="text/javascript">
            require.config({
                version: '<%= version %>',
                buildnumber: <%= buildnumber %>,
                env: '<%= env %>'
            });
        </script>
        /build -->
        <!-- build:remove -->
        <script type="text/javascript">
            require.config({
                env: 'local'
            });
        </script>
        <!-- /build -->
    </body>
    <!--<%= footer %>-->
</html>